<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/bootstrap.min.css" rel="stylesheet">
		<link href="/bootstrap.css" rel="stylesheet">
		<link href="/style.css" rel="stylesheet">
		
		<title>Twitter App Popular</title>
	</head>
	<body>
		 
			<div id="cabecera">
				<img src="/logo.png" WIDTH=125 HEIGHT=100 />
			</div>

		<% if @name == '' %>
			<div id="principal">
				<h2>Introduzca un usuario de Twitter:</h2>

				<form action="/" method="post">

					<div id="introducir" class="input-group">
						<span class="input-group-addon">@</span>
				  <input type="text" name="firstname" value="" class="form-control" placeholder="Username" autofocus>
					</div>
				   	<div id="button"> 
				   		<button type="submit" class="btn btn-default">Submit</button>
				   	</div>
				   	
				</form>
			</div>

		<%else%>
			<div id="principal">
				<h1><b> Usuario @<%= @name %> </b></h1>
				<img src="<%= @pic %>"/><br>
			
				<h2>Sus últimos 10 amigos ordenados por popularidad son:</h2>
				<p>
					<div id="lista">
						<ol>
							<% @usuarios.each { |user, count| %>
								<li>@<%= user %> : <%= count %> <br></li>
							<% } %>
						</ol>
					</div>
				</p>

				<div id="button"> 
				  	<a href="/"> <button type="submit" class="btn btn-default">Volver Atrás</button> </a>
				</div>

			</div>
		<% end %>
		

	</body>
</html>
