<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/bootstrap.min.css" rel="stylesheet">
		<link href="/bootstrap.css" rel="stylesheet">
		<link href="/style.css" rel="stylesheet">

		<title>Twitter App Popular</title>
	</head>
	<body>
		 <div class="container">
			

		<% if @name == '' %>
			<div class="header col-sm-12 col-xs-12 col-lg-12" id="cabecera">
				<img src="/logo.png" WIDTH=125 HEIGHT=100 />
			</div>
			<div class="main col-sm-12 col-xs-12 col-lg-12" id="principal">
				<h3>Introduzca un usuario Twitter</h3>

				<form action="/" method="post" class="form-inline" role="form">

					<div id="introducir" class="input-group col-sm-4 col-xs-12 col-lg-4">
						<span class="input-group-addon">@</span>
				  <input type="text" name="firstname" value="" class="form-control" placeholder="Usuario twitter" autofocus>

					</div>
					
				   	<button type="submit" class="btn btn-primary">Enviar</button>

				   	
				</form>
			</div>

		<%else%>
			<div class="main col-sm-12 col-xs-12 col-lg-12" id="principal">
				<h2><b> @<%= @name %> </b></h2>
				<img class="img-responsive img-thumbnail" src="<%= @pic %>"/><br>
			
				<p>Sus últimos 10 amigos ordenados por popularidad son:</p>
				<p>
					<div id="lista">
						
							<% @usuarios.each { |user, count| %>
								<p>@<%= user %> : <%= count %></p>
							<% } %>
						
					</div>
				</p>

				<div id="button" class="mybtn col-sm-12 col-xs-12 col-lg-12"> 
				  	<a href="/"> <span class="glyphicon glyphicon-home"></span> </a>
				</div>

			</div>


		<% end %>
		</div>
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="public/bootstrap.min.js"></script>

	</body>
</html>
