<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/bootstrap.min.css" rel="stylesheet">
		<link href="/bootstrap.css" rel="stylesheet">
		<link href="/style.css" rel="stylesheet">
		
		<title>Twitter App Popular</title>
	</head>
	<body>
		<div id="cabecera">
			<img src="/logo.png" WIDTH=125 HEIGHT=100 />
		</div>

		<div id="principal">
			<h2>Introduzca un usuario de Twitter:</h2>

			<form action="/" method="post">

				<div id="introducir" class="input-group">
					<input type="text" name="firstname" value="" class="form-control" placeholder="Username" autofocus>
				</div>
				<br>
			   	<div id="button"> 
			   		<button type="submit" class="btn btn-default">Submit</button>
			   	</div>
			   	
			</form>
			
			<% @usuarios %>
		</div>

	</body>
</html>
