body{
	color: white; 
 	font-family: "Verdana";
 	background: url(back.jpg) no-repeat fixed center ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 16px;
}

#cabecera{
	text-align: center;
	margin-bottom: 2%;
}	

#principal{
	font-family: Arial;
	text-align: center;
}

#lista{

	text-align: center;
}

#button{
	margin-top: 0.5em;
}

.container{

	padding-top: 5%;
}

a{
	color:white;
	font-size: 35px;
}

#amig{
	margin-top: 1%;
	margin-top: 2%;
	font-style: italic;
}


#footer {
    width: auto;
    height: 200px;
   
    margin-top:-200px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background: #333;
    border-top: 2px solid #000;
    position: relative;
 
}

p {
    margin: 20px 0 10px;
}

